.container {
  height: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
  position: relative;
  z-index: 3;
}

.selected {
  background: transparent;
  border: 1px solid #eef0f3;
  border-radius: 3px;
  box-sizing: border-box;
  color: #4d6171;
  font-size: 12px;
  font-weight: 300;
  overflow: hidden;
  padding: 11px;
  user-select: none;
  height: 100%;
  transition: border .2s;
}

.icon .selected {
  padding-left: 40px;
}

.selected .label {
  color: #d8d8d8;
  font-size: 14px;
  font-weight: 300;
  line-height: 38px;
  top: 0;
  left: 10px;
  pointer-events: none;
  position: absolute;
  transition: transform cubic-bezier(.25,.8,.25,1) .25s;
}

.icon .selected .label {
  transform: translate3d(30px, 0, 0);
}

.selected .label.isSelected {
  color: #d8d8d8;
  font-weight: 500;
  left: 0;
  font-size: 12px;
  transform: translate3d(2px,-31px,0);
}

.selected span {
  color: #555;
  font-size: 14px;
}

.selected:hover {
  cursor: pointer;
}

.selected .arrow {
  color: #f9bf4c;
  display: inline-block;
  float: right;
  font-size: 12px;
  font-weight: 800;
  margin-top: 3px;
}

.comboIcon {
  color: #f7a80d;
  font-size: 18px;
  left: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 40px;
}

.isOpen .list {
  display: block;
}

.isOpen .selected {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: #f7a80d;
}

.isOpen .selected .arrow {
  transform: rotate(180deg);
}

.list {
  background-color: white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid #f7a80d;
  border-top-color: #ececec;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: none;
  list-style-type: none;
  margin: -1px 0 0 0;
  max-height: 130px;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
  transition: .3s;
}

.list li {
  color: #303030;
  font-size: 13px;
  font-weight: 300;
  padding: 8px;
}

.list li:hover {
  background-color: #f5fafd;
  cursor: pointer;
}
