.container {
  position: relative;
}

.selected {
  background: linear-gradient(to bottom, #fefefe, #f2f2f2);
  border: 1px solid #b8b8b8;
  border-radius: 3px;
  box-sizing: border-box;
  color: #303030;
  font-size: 12px;
  font-weight: 300;
  position: relative;
  padding: 8px;
  user-select: none;
}

.selected:hover {
  cursor: pointer;
}

.selected i {
  float: right;
  font-size: 11px;
  display: inline-block;
  margin-top: 4px;
}

.isOpen .list {
  display: block;
}

.isOpen .selected {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.isOpen .selected i {
  transform: rotate(180deg);
}

.list {
  background-color: white;
  border: 1px solid #b8b8b8;
  border-top: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-sizing: border-box;
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

.list li {
  color: #303030;
  font-size: 12px;
  font-weight: 300;
  padding: 5px 8px;
}

.list li:hover {
  background-color: #f5fafd;
  cursor: pointer;
}