.titleContainer {
  margin-bottom: 30px;
  text-align: center;
}

.titleContainer h2 {
  font-weight: 500;
  margin-left: 20px;
  text-transform: uppercase;
}

.title {
  align-items: center;
  display: flex;
  justify-content: center;
}

.title i { margin-top: -5px; }

@media screen and (max-width: 480px) {
  .title { flex-wrap: wrap; }

  .title h2 {
    text-align: center;
    margin-left: 0;
  }
}
