.button {
  background-color: #f39c12;
  border-radius: 23px;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 15px;
  font-weight: 400;
  margin-top: 40px;
  padding: 12px;
  position: relative;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: background-color .3s;
  white-space: nowrap;
  width: 100%;
}

.button:hover { background-color: #f3ae40; }

.button.isLoading {
  background-color: rgba(0,0,0,0.26);
  cursor: default;
}

.button span {
  line-height: 21px;
  vertical-align: top;
}

.icon {
  font-size: 1.3em;
  font-weight: 700;
  margin-right: .4em;
}
