.container {
  position: relative;
}

.input {
  border: none;
  border-bottom: 1px solid #e1e0e1;
  color: #555;
  font-weight: 300;
  outline: 0;
  padding: 10px 0;
  width: 100%;
}

.input:focus ~ .bar {
  width: 100%;
}

.bar {
  height: 2px;
  width: 0;
  transition: width .3s;
  position: absolute;
  bottom: 0;
}

/* COLORS
  #e1e0e1 = Gray color for input border-bottom
  #555 = Dark gray for input text color
*/