.container { padding: 0 25px; }

.retrieveContainer {
  margin: 0 auto;
  max-width: 400px;
}

.bar {
  background-color: #ff5a00;
  height: 80px;
  left: 0;
  position: absolute;
  top: 50px;
  width: 5px;
}