.container {
  background-color: #252d37;
  bottom: 0;
  left: 0;
  padding-top: 24px;
  position: absolute;
  top: 57px;
  width: 220px;
  z-index: 1;
}

.header {
  background-color: #3d485a;
  margin-bottom: 24px;
  padding: 16px;
  text-align: center;
}
