.titleContainer {
  margin-bottom: 10px;
  text-align: center;
}

.titleContainer h2 {
  font-weight: 500;
  margin-left: 20px;
  text-transform: uppercase;
}

.title {
  align-items: center;
  display: flex;
  justify-content: center;
}

.title i { margin-left: 2px; }

.titleModal {
  color: #f39c12;
  font-weight: 500;
  margin-bottom: 40px;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

.buttonContainer {
  width: 25%;
  float: right;
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  .buttonContainer { width: 40%; }
}

@media screen and (max-width: 768px) {
  .buttonContainer { width: 100%; }
}

@media screen and (max-width: 480px) {
  .title { flex-wrap: wrap; }

  .title h2 {
    text-align: center;
    margin-left: 0;
  }
}
