.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,.15);
  color: #4d6171;
  margin: 15px 0;
  padding: 50px 30px;
  position: relative;
}

.card.withBorder {
  box-shadow: none;
  border: 1px solid #CCC;
}

.card.withBorder:hover { box-shadow: 0 5px 15px rgba(0,0,0,.06); }
