.link {
  border-bottom: 1px solid #ffceb3;
  color: #FF5A00;
  font-size: 13px;
  font-weight: 300;
  text-decoration: none;
  transition: border-color .2s;
}

.link:hover {
  border-color: transparent;
}