.container {
  padding: 25px 15px;
  background-color: #fafafa;
}

.wrapper {
  border: 1px solid #ddd;
  border-radius: 4px;
  position: relative;
  padding: 10px 0 15px;
}

.item > div:nth-child(1) {
  height: 35px;
  width: 31px;
}

.item > div:nth-child(1) i { font-size: 13px; }

.header {
  position: absolute;
  top: -13px;
  padding: 3px 8px;
  background: #f9f9f9;
  left: 8px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  max-width: 234px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.itemName {
  padding-left: 10px;
  font-size: 14px;
}

.footer {
  align-items: center;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  left: 8px;
  margin-left: 22px;
  margin-right: 12px;
  padding: 3px 8px;
  position: absolute;
  right: 0;
}

.period {
  color: #aaa;
  font-size: 13px;
  font-weight: 300;
}

.price {
  padding-left: 5px;
  font-weight: 600;
  font-size: 17px;
}
