.container {
  display: flex;
  justify-content: space-around;
  margin-top: 48px;
}

.container article {
  flex-basis: 30%;
}

.container h3 {
  color: #444;
  font-weight: bold;
}

.container p {
  color: #aaa;
  margin-bottom: 0;
}

.hexagon {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 40.41px;
  margin: 20.21px 0;
}

.hexagon i { font-size: 28px; }

.hexagon.orange {
  border-left: solid 1px #f7a80d;
  border-right: solid 1px #f7a80d;
}

.hexagon.orange i {
  color: #f7a80d;
  line-height: 41px;
}

.hexagon.red {
  border-left: solid 1px #f44336;
  border-right: solid 1px #f44336;
}

.hexagon.red i {
  color: #f44336;
  line-height: 33px;
}

.hexagon.blue {
  border-left: solid 1px #1e88e5;
  border-right: solid 1px #1e88e5;
}

.hexagon.blue i {
  color: #1e88e5;
  line-height: 30px;
  margin-left: 2px;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 49.50px;
  height: 49.50px;
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 9.21566px;
}

.hexagon:before { top: -25.5487px; }

.hexagon:after { bottom: -25.5487px; }

.hexagon.orange:before {
  border-top: solid 1.4142px #f7a80d;
  border-right: solid 1.4142px #f7a80d;
}

.hexagon.orange:after {
  border-bottom: solid 1.4142px #f7a80d;
  border-left: solid 1.4142px #f7a80d;
}

.hexagon.red:before {
  border-top: solid 1.4142px #f44336;
  border-right: solid 1.4142px #f44336;
}

.hexagon.red:after {
  border-bottom: solid 1.4142px #f44336;
  border-left: solid 1.4142px #f44336;
}

.hexagon.blue:before {
  border-top: solid 1.4142px #1e88e5;
  border-right: solid 1.4142px #1e88e5;
}

.hexagon.blue:after {
  border-bottom: solid 1.4142px #1e88e5;
  border-left: solid 1.4142px #1e88e5;
}