.header {
  background-color: white;
  border-bottom: 1px solid #E7EAEC;
  box-sizing: border-box;
  height: 57px;
  padding: 0 24px;
  padding-left: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
}

.icon {
  cursor: pointer;
  font-size: 18px;
  line-height: 57px;
  margin: 0 24px;
  margin-left: 0;
  display: inline-block;
  vertical-align: top;
}

.logo {
  display: inline-block;
  width: 220px;
  text-align: center;
}

.logo a { display: inline-block; }

.logo img {
  display: block;
  margin: 15px auto;
  width: 100px;
}

@media screen and (max-width: 480px) {
  .logo {
    width: 150px;
  }
}
