.container {
  margin: 0 auto;
  max-width: 660px;
}

.paymentTitle { text-align: center; }

.paymentTitle span {
  display: block;
  margin-bottom: 10px;
}

.paymentTitle img {
  height: auto;
  width: 125px;
}

.detailContainer { padding: 30px 0; }

.detailContainer h2 {
  border-bottom: 2px solid #ff5a00;
  font-size: 26px;
  margin: 50px 0 20px;
  padding-bottom: 15px;
}

.circleList {
  list-style-type: none;
  padding-left: 0;
}

.circleList li {
  margin-bottom: 10px;
  padding-left: 15px;
  position: relative;
  text-align: left;
}

.circleList li:before {
  background-color: #ff5a00;
  border-radius: 50%;
  content: '';
  display: block;
  height: 6px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 6px;
}

.subTotal {
  background-color: #a9a9a9;
  border: 0;
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
  padding: 15px 0;
}

.symbol {
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1;
}

.money {
  font-size: 1.8em;
  line-height: 1;
}

.total {
  background-color: #f6f6f6;
  color: #000;
  font-weight: 700;
}

.total .money {
  font-size: 2.2em;
  font-weight: 700;
  line-height: 1;
}

.link {
  color: #ff5a00;
  border-bottom: 1px solid #ffceb3;
  transition: border-color .3s;
  cursor: pointer;
}

.link:hover { border-color: transparent; }
