.container {
  align-items: flex-end;
  display: flex;
  margin-top: 15px;
  margin-bottom: 40px;
}

.container.hasIcon .inputContainer {
  flex-basis: calc(100% - 30px);
  margin-left: 0;
}

.container.hasError .bar {
  background-color: red;
  height: 1px;
  width: 100%;
}

.icon {
  color: #f7a80d;
  display: block;
  font-size: 1.2em;
  line-height: 37px;
  text-align: center;
  width: 30px;
}

.inputContainer {
  position: relative;
  width: 100%;
}

.input {
  border: none; /* Remove all borders before add border-bottom */
  border-bottom: 1px solid #e1e1e1;
  color: #555;
  font-size: 14px;
  font-weight: 300;
  outline: 0;
  padding: 10px 0;
  width: 100%;
}

.input:focus ~ .bar {
  width: 100%;
}

.input:focus ~ .label, .container.hasContent .label {
  bottom: 33px;
  color: #ccc;
  left: -7px;
  transform: scale(.86);
}

.bar {
  background-color: #f7a80d;
  bottom: 0;
  height: 2px;
  position: absolute;
  transition: width .2s;
  width: 0;
}

.label {
  bottom: 9px;
  color: #ddd;
  font-size: 14px;
  font-weight: 300;
  left: 0;
  pointer-events: none;
  position: absolute;
  transition: all .2s;
}

.errorText {
  color: red;
  font-size: 12px;
  font-weight: 300;
  left: 0;
  position: absolute;
  top: 40px;
}

/* COLORS
  #e1e1e1 = Gray color for input border-bottom
  #ddd = label color
  #ccc = label color on focus
  #555 = Dark gray for input text color
*/