.reset {
  float: right;
  margin-bottom: 40px;
}

.simpleText {
  color: #f7a80d;
  font-weight: 300;
  text-align: center;
  margin-top: 40px;
}

.simpleText span,
.simpleText a {
  font-size: 16px;
}